/* HighScoreStyle.css */

.highScoreList {
    -fx-alignment: center;
    -fx-spacing: 6; /* Slightly increased spacing for larger text */
}

.title-label {
    -fx-font-family: 'PressStart2P';
    -fx-font-size: 28px; /* Increased size for the title */
    -fx-font-weight: bold;
    -fx-text-fill: #0000D6; /* Blue color for the text */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0); /* Shadow effect */
}

.highscore-label {
    -fx-font-family: 'PressStart2P';
    -fx-font-size: 22px; /* Increased size for the high score entries */
    -fx-text-fill: #0000D6; /* Blue color for the text */
    -fx-padding: 0 4 4 4; /* Adjusted padding for larger text */
    -fx-background-radius: 5; /* Rounded corners, kept for aesthetics */
    -fx-effect: dropshadow(one-pass-box, black, 5, 0.0, 2, 2); /* Subtle shadow */
}
